<article class="card planet-card" style="--planet-size: {{ planet.size }}; --planet-color: {{ planet.color }};">
    <div class="planet"></div>
    <h3>{{ planet.name }}</h3>
    <p>{{ planet.distance }}</p>
</article>
